@media screen and (max-width: 1200px) {
    .sobre .img{
        display: none;
    }
}

@media screen and (max-width: 900px) {
   
    .main header nav {
        display: none;
    }   
    .sobre{
        gap: 0;
    }
    .sobre .text-sobre  {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .sobre .text-sobre  p{
        width: 90%;
        text-align: center;
    } 
}
@media screen and (max-width: 500px) {
    .regras .img-regras img{
        width: 250px;
     }
    .main{
        background-image: url(../img/desenho-wallpaper.jpg);
    }
    .main header {
        width: 100%;
        padding: 5px 10px;
    }
    .conectar .dicas .op {
        width: 90%;
        font-size: 10px;
    }
    .sobre .text-sobre h1{
        font-size: 60px;
    }
    .sobre .text-sobre {
        gap: 2rem;
    } 
    .sobre .text-sobre p {
        font-size: 16px;
        width: 100%;
    } 
    .conectar h1{
        font-size: 45px;
    }
    .conectar p{
        font-size: 12px;
        width: 90%;
    }
}

@media screen and (max-width: 300px) {
    .conectar .botao-id{
        background-color: white;
        color: black;
        padding: 5px 50px;
        border-radius: 100px;
        transition: transform 500ms;
    }
}