@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400&family=Righteous&display=swap');

/* CONFG PADRÃO */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Lexend;
    color: white;
}


html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

:root {
    --color: white;
}


/* scrollbar */
body::-webkit-scrollbar {
    width: 3px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #1F2026;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

/* MAIN */
.main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/backgound.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* HEADER */
.main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    background: rgba(78, 78, 78, 0.44);
    border-radius: 0px 0px 30px 30px;
    padding: 10px 40px;
}

/* LOGO */
.main header #logo {
    width: 50px;
    height: 50px;
}

/* NAV */
.main header nav {
    display: flex;
    gap: 3rem;
}

.main header nav a {
    font-family: Lexend;
    color: white;
}

/* CATEGORIAS */

.main header .menu-categorias .categorias {
    padding: 7px 30px;
    border: 4px solid #385AC0;
    border-radius: 22px;
    color: var(--color);
    z-index: 100000;
}

.menu-categorias .dropdown a {
    padding: 5px 26px;
    font-family: 'Lexend';
    font-size: 15px;
    color: white;
}

.menu-categorias ul li {
    position: relative;
}

.menu-categorias .dropdown {
    display: none;
    position: absolute;
    width: 100%;
    background-color: black;
    border: 2px solid #385AC0;
    border-radius: 15px;
    top: 28px;
}

.menu-categorias .dropdown a {
    display: block;
    text-align: center;
}

.menu-categorias .dropdown a:hover {
    display: block;
    color: #385AC0;
    text-align: center;
}

.menu-categorias ul li:hover .dropdown {
    display: block;
    z-index: 999;
}

/* ARROW DOWN */
.main .fa-angle-down {
    color: white;
    padding-bottom: 20px;
    font-size: 35px;
    animation: float 2s ease-in-out infinite;

}

/* ANIMAÇÃO ARROW */

@keyframes float {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}



/* SOBRE */

.sobre {
    background-image: url(../img/background-sobre.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    gap: 15rem;
    justify-content: center;
    align-items: center;
}

.sobre .text-sobre {
    width: 100%;
    text-align: start;
}

.sobre .text-sobre h1 {
    font-size: 100px;
}

.sobre .text-sobre p {
    width: 100%;
    font-size: 20px;
}

.sobre .text-sobre .discord {
    width: 250px;
    height: 50px;
    border: none;
    background: rgb(0, 55, 255);
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
    transition: transform 500ms;
}

.sobre .text-sobre .discord:hover {
    transform: scale(1.06);
}

/* REGRAS */

.regras {
    background-image: url(../img/background-sobre.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.regras .img-regras{
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.regras .img-regras img{
   width: 450px;
   cursor: pointer;
   transition: transform 500ms;
}
.regras .img-regras img:hover{
   transform: scale(1.1);
}